* {
	margin: 0;
  	padding: 0;
}

html, body {
  height: 100%;
}

body{
	background-color: #e3e0de;
}


a{
	color: #f8f8f8;
}

img{
	max-width: 100%;
	height: auto;
}

.menu{
	background-color: #436665;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

a.navbar-brand{
	padding-top: 0px;
}

.navbar-form .form-control{
	width: 400px;
}

.btn{
	padding: 4px 9px !important;
}

.btn-add-video{
	margin-top: -5px;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8f8;
    font-weight: bold;
}
 .navbar-default .navbar-nav:not(.icons) > li > a:hover, .navbar-default .navbar-nav > li > a:visited{
 	color: #f8f8f8;
 	text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #f8f8f8;
    background-color: #436665;
}

.nav-tabs > li > a {
    color: #555 !important;
}


.formregistr{
	max-width: 500px !important;
	margin-top: 140px;
	box-shadow: 0px 0px 110px 5px #436665;
	border-radius: 60px;
	text-align: center;
}

.link-registr{
	color: #0a0a0b !important;
	text-decoration: underline;
	padding-top: 5px;
	display: block;
}

.linkvideo-name{
	color: #23527c !important;
	display: block;
	font-weight: bold;
}

.linkvideo-name ~ a{
	color: #7c7d7d !important;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.home-content{
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.home-content-row{
	padding-bottom: 10px;
	padding-top: 20px;
}

.home-content-img{
	width: 160px;
	height: 100px;
}

.main{
	position: relative;
  	min-height: 100%;
  	padding: 0px;
}

.content{
	padding-bottom: 80px;
	width: 100%
}

.user-logo{
	background: rgb(206,220,231);
	background: -moz-linear-gradient(top, rgba(89,106,114,1) 0%, rgb(121, 129, 135) 100%);
	background: -webkit-linear-gradient(top, rgba(89,106,114,1) 0%, rgb(121, 129, 135) 100%); 
	background: linear-gradient(to bottom, rgba(89,106,114,1) 0%, rgb(121, 129, 135) 100%); 
	margin-top: 60px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

.user-logo > h3{
	color: #fff;
	font-weight: bold;	
}

.user-description{
	background: #fff;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

.video-list{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
	margin-top: 15px;
}

.video-list-title{
	color: #000;
	font-size: 24px;
}

.user-description-content{
	color: rgb(155, 144, 144);
	cursor: pointer;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

.upload-logo{
	text-align: center;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
	max-width: 780px;
}

.upload-logo-content{
	font-size: 16px;
	margin-top: 25px;
}

#dropzone {
	text-align: center;
	font-weight: bold;
	border: 1px dashed;
	margin-bottom: 10px;
	padding-bottom: 25px;
}

#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.btnzone{
	line-height: 50px;
}

.img-drag{
	width: 70px;
	height: 70px;
	margin-top: 50px;
}

.file-upload {
    overflow: hidden;
	height: 40px;
	background: #37565d;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}
.file-upload:hover {
     background: #4d8592;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
     display: block;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 36px;
}

.file_error{
	color: red;
}

.file_success{
	color: green;
}

.logo-specif{
	font-size:18px;
}

.logo-specif ~ ul{
	text-align: left;
	margin-left: 40px;
}

.div-specif{
	border: 1px solid rgb(224, 224, 224);
	margin: 15px;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 6px rgb(246, 246, 246), 0px 0px 0px 7px rgb(204, 204, 204);
	padding: 10px;
}


#progress {
        background-color: #fbf9f9;
        height: 25px;
        padding: 5px;
        margin-bottom:5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

#progressbar {
		background-color: #34c2e3;
        height: 20px;
        width: 0px;
        margin-top: -2px;
        color: black;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
        
}

#progressbar {
        -webkit-background-size: 30px 30px;
        -moz-background-size: 30px 30px;
        background-size: 30px 30px;
        background-image: -webkit-gradient(linear, left top, right bottom,
                                                color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
                                                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
                                                color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
                                                to(transparent));
        background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                                transparent 75%, transparent);
        background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                                transparent 75%, transparent);
        background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                                transparent 75%, transparent);
        background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                                transparent 75%, transparent);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                                transparent 75%, transparent);            

        -webkit-animation: animate-stripes 3s linear infinite;
        -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
        0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
        0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.videoplayer{
	height: 360px;
	width: 640px;
}

footer{
	position: absolute;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	height: 52px;
	background-color: #f3f0ee;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

.icons li a{
	padding: 10px 5px;
}

@media only screen and (min-width: 1200px){

}

@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 480px){

}